<!--
  @file usuario_edit.html
  @brief Template para a página de edição de usuário.

  Este template estende o base.html e define o título e o conteúdo da página para editar um usuário existente.

  @section title
  Título da página definido como "Excluir Usuário".

  @section content
  Conteúdo principal que contém:
    - Cabeçalho secundário indicando "Editar Usuario".
    - Formulário para seleção do usuário a ser editado.
    - Campos de edição: nome, e-mail, telefone.
    - Proteção CSRF para segurança.
    - Botão para salvar alterações.

  @details
  - O formulário envia dados via método POST para a URL nomeada 'usuario_edit'.
  - O campo select popula opções com todos os usuários disponíveis.
  - O campo select tenta pré-selecionar o usuário correto.
  - Os campos de entrada são preenchidos com os dados do usuário atual para edição.
  - O botão envia o formulário para o servidor para atualização dos dados.

  @author ---
  @version 1.0
  @date 2025
-->

{% extends "core/base.html" %}
{% block title %}Excluir Usuário{% endblock %}

{% block content %}
    <h2> Editar Usuario</h2>
    <form method="post" action="{% url 'usuario_edit' %}">
        <label for="usuario_id">Selecione o usuário que deseja editar:</label><br>
        <select name="usuario_id" id="usuario_id">
            {% for usuario in usuarios %}
                <option value="{{ usuario.id }}" {% if usuario.id == usuario.id %}selected{% endif %}>
                    {{ usuario.nome }}
                </option>
            {% endfor %}
        </select><br><br>
        
        <label for="nome">Nome de Usuário:</label>
        <input type="text" id="nome" name="nome" value="{{ usuario.nome }}" required><br>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" value="{{ usuario.email }}" required><br>

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone" value="{{ usuario.telefone }}"><br>

        {% csrf_token %}
        
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock %}
